<p-toast></p-toast>

<div class="surface-card p-4 shadow-2 border-round">
    <p-button (click)="goHome()" label="Home" icon="pi pi-home"></p-button>
</div>    
    <br/>
<div  class="surface-card p-4 shadow-2 border-round">
    <div *ngIf="isDashboard" class="grid p-fluid m-0">
        <div class="col-12 md:col-4">
            <p-autoComplete  [(ngModel)]="selectedProject" [suggestions]="filteredProjects" 
            (completeMethod)="filterProject($event)" field="name" [dropdown]="true"
            (onSelect)="onProject()">
            <ng-template let-project pTemplate="item">
                <div class="project-item">
                    <div>{{project.name}}</div>
                </div>
            </ng-template>
            </p-autoComplete>
            <span>Projects</span>
        </div>
        <div class="col-12 md:col-4">
            <p-autoComplete  [(ngModel)]="selectedResource" [suggestions]="filteredResources" 
            (completeMethod)="filterResources($event)" field="name" [dropdown]="true">
            <ng-template let-resource pTemplate="item">
                <div class="resource-item">
                    <div>{{resource.name}}</div>
                </div>
            </ng-template>
            </p-autoComplete>
            <span>Resources</span>
        </div>
        <div class="col-12 md:col-4">
            <button (click)="onAssign()" pButton pRipple type="button" label="Assign" class="p-button-raised p-button-secondary"></button>
        </div>
    </div>
    <div *ngIf="bankName" class="grid p-fluid m-0">
        <div class="col-12 md:col-4">
        </div>
        <div class="col-12 md:col-4">
        </div>
        <div class="col-12 md:col-4">
            <button pButton pRipple type="button" label={{bankName}} class="p-button-outlined p-button-secondary"></button>
        </div>
</div>

<div *ngIf="isDashboard" class="card">
  <p-table  
        [value]="assignments" #dt responsiveLayout="scroll"
        [paginator]="true"  [rows]="5"  [showCurrentPageReport]="true"
        [filterDelay]="0" [globalFilterFields]="['resource.name','project.name','bank']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="dt.clear()"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
        <tr>
            <th>
                Name
                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </th>
            <th>Project
                <p-columnFilter type="text" field="project" display="menu"></p-columnFilter>
            </th>
            <th>Bank
                <p-columnFilter type="text" field="bank" display="menu"></p-columnFilter>
            </th>
            <th>View
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-assignment>
        <tr>
            <td>{{assignment.resource.name}}</td>
            <td>
                <button pButton pRipple type="button" label="{{assignment.project.name}}" class="p-button-text"></button>
            </td>
            <td>{{assignment.client.name}}</td>
            <td>
                <button (click)="viewResource(assignment)" pButton pRipple type="button" icon="pi pi-external-link" class="p-button-rounded p-button-success p-button-text"></button>
            </td>
        </tr>
    </ng-template>
 </p-table>
</div>

<div *ngIf="!isDashboard" class="surface-card p-4 shadow-2 border-round">
    <div *ngIf="selectedAssignment">
        <h2> {{selectedAssignment.project.name}} </h2>
        <h2> {{selectedAssignment.project.status}} </h2>
        <h3> {{selectedAssignment.client.name}} </h3>
        <h3> {{selectedAssignment.resource.name}} </h3>
    </div>
    <p-button (click)="isDashboard=true" label="Close" icon="pi pi-times"></p-button>
    <h4>We need to work on , what content should go in here</h4>
</div>    
    <br/>
